.article-page {
  h1 {
    margin-bottom: 15px;
  }
  .news-date {
      display: block;
    font-family: "MarkCAPS-bold", sans-serif;
    font-size: 16px;
    text-align: left;
    color: $dark;
    margin-bottom: 15px;
  }
}
