@font-face {
  font-family: "Mark-bold";
  src: url("../fonts/MarkGEO-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MarkCAPS-medium";
  src: url("../fonts/MarkGEOCAPS-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DejaVu-LightCaps";
  src: url("../fonts/BPGDejaVuSansLightCaps-ExtraLight.ttf") format("truetype");
  font-weight: 200;
//   font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mark-light";
  src: url("../fonts/MarkGEO-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MarkCAPS-bold";
  src: url("../fonts/MarkGEOCAPS-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MarkCAPS-light";
  src: url("../fonts/MarkGEOCAPS-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DejaVu-Light";
  src: url("../fonts/BPG2017DejaVuSansLight-ExtraLig.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "MarkCAPS-semibold";
  src: url("../fonts/MarkGEOCAPS-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MarkCAPS-regular";
  src: url("../fonts/MarkGEOCAPS-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mark-medium";
  src: url("../fonts/MarkGEO-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mark-semibold";
  src: url("../fonts/MarkGEO-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mark-regular";
  src: url("../fonts/MarkGEO-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
