.footer {
  height: 200px;
  width: calc(100% - 140px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 140px;
  background-color: $blue;
  border-radius: 0px 10px 0px 0px;
  position: absolute;
  bottom: -200px;

  @include xl {
    width: calc(100% - 100px);
    padding-left: 100px;
  }

  @include tab {
    flex-direction: column;
    padding: 65px 20px 20px 20px;
  }

  @include m2 {
    width: calc(100% - 20px);
    height: 370px;
    padding: 35px 0;
    bottom: -370px;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tab {
      order: 1;
      flex-direction: row;
      align-items: center;
      width: 90%;
      justify-content: space-between;
      height: fit-content;
    }

    @include m2 {
      flex-direction: column;
      align-items: c;
    }

    div {
      display: flex;
      margin-bottom: 10px;

      @include tab {
        margin: 0;
      }

      @include m2 {
        &:first-child {
          margin-bottom: 45px;
        }
      }

      a {
        margin-right: 15px;

        @include m2 {
          &:last-child {
            margin: 0;
          }
        }
      }
    }

    span {
      font-family: "DejaVu-LightCaps", sans-serif;
      font-size: 14px;
      color: $white;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tab {
      width: 100%;
    }

    @include m2 {
      flex-direction: column;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-right: 120px;

      @include tab {
        text-align: center;
        margin-right: 50px;
      }

      @include m2 {
        margin-bottom: 20px;
        margin-right: 0;
      }

      p {
        font-family: "DejaVu-LightCaps", sans-serif;
        font-size: 16px;
        color: $white;
        margin-bottom: 15px;
      }

      span {
        font-family: "DejaVu-LightCaps", sans-serif;
        font-size: 14px;
        color: $white;
      }
    }
  }
}
